body {

    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;

}


#navBar {

    position: flex;
    justify-content: space-between;
}

h1 {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
}

button:hover {

    transition: background-color 0.5s ease;


}