body {

    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;

}




h1 {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
}

button:hover {

    transition: background-color 0.5s ease;


}

#navbar{

    display:flex;
    justify-content: space-around;

    background-color:white;
    margin: 15px;

}


#container{
    
justify-content: center;
margin: 55px;


}

#container li {

font-size: 20px;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;

   
}