.box{

    background-color: #f0f0f0f0;
    border : 1px solid #ccc;
    padding: 10px;
    margin : 10px 0;
}

#header {

    background-color: #4A90E2;
    color: white;
    padding: 20px;
    text-align: center ;
}