.mainComponent{

 


}
.reactAdvantage{

    text-align: center;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;


}

ul ol{

   font-weight: bold;


}

ul{

    text-align: center;
    position: relative;
}

