.movieCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crée trois colonnes de largeur égale */
  gap: 1rem; /* Espace entre les éléments */

  padding: 1rem; /* Ajoute du padding autour des éléments */
  margin: 10px;
  gap: 1.5rem;
}

