.product{
text-align: center;
list-style-type:none ;
font-weight: bold;
}

.product li {
  color:rgb(58, 39, 20);
}


.image{

  width: 100px;
  height: 75px;
}

.container{

  background-color:antiquewhite ;

  padding: 10px;
  margin: 10px;
}