.titre{

text-transform: capitalize;
text-align: center;
color: rgb(103, 95, 95);


}

.game{

    color: green;
}
.imageContainer{


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    
}
.image{
    width: 15%;
    height: 20%;
    -webkit-user-select: none; /* Pour Safari et iOS */
    -moz-user-select: none;    /* Pour Firefox */
    -ms-user-select: none;     /* Pour Internet Explorer/Edge */
    user-select: none; 
    border-radius: 10px; 
 
    
    /* Pour que l'image remplisse bien le conteneur */
    
     /* Donne une forme de bouteille */ 
     
     /* Propriété standard pour les autres navigateurs  pointer-events: none ;
     */
}